@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-green {
    color: var(--primary-green)
}

.primary-red {
    color: var(--primary-red)
}

#app {
    position: relative;
    padding: 2rem 2rem;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}